*{
    margin: 0px;
    padding: 0px;
}
/* shop css */
a.nav-link:hover{
 text-decoration: underline;
}
.color{
    margin-top:3px ;
    height: 15px;
    width: 15px;
    background-color: blue;
    border-radius: 50%;
}